body {
    background-image: url(/img/FinalBackground.jpg);
}

/* ------------- HEADER ------------- */
header {
    justify-content: center;
    display: flex;
    margin: 90px auto 10px auto;
}

/* PRIMO SECTION */
.contenitore-sections-header {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header-primo {
    width: 1000px;
    display: flex;
    align-items: center;
    text-align: center;
}

.contenitore-header-logo,
.contenitore-header-social,
.contenitore-header-search {
    width: 100%;
}

.contenitore-header-social {
    text-align: left;
}

.contenitore-header-social a {
    text-decoration: none;
}

.contenitore-header-social .fa {
    font-size: 20px;
    width: 50px;
    color: white;
}

.contenitore-header-logo img {
    width: 300px;
    height: auto;
}

.contenitore-header-search {
    text-align: right;
}

.contenitore-header-search .material-icons {
    font-size: 20px;
    color: white;
}

/* SECONDO SECTION */
.section-header-secondo {
    display: flex;
    width: 100%;
}

.contenitore-header-menu {
    width: 100%
}

.contenitore-header-menu ul {
    list-style-type: none;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
}

.contenitore-header-menu li {
    width: 100%;
}

.contenitore-header-menu li:hover {
    color: aquamarine;
}